public/backup
public/backup/*
public/backup/.gitkeep
public/backup/.gitignore
public/backup/.gitkeep

public/IBM/
public/IBM/*
public/IBM/.gitkeep

data/*
data/.gitkeep
data/.gitignore


DATABASE.db
CSC423_TERM.zip